

* {
    margin: 0;
    padding: 0;

}

p {
    font-size: 18px;
}

header h1 {
    font-size: 48px;
}

form label {
    font-size: 24px;
}

.main h1 {
    font-size: 36px;
}

body {

    background-color: lightgray;
}

.main {
    padding-left: 15%;
    padding-right: 15%;
}


header {
    text-align: center;
    background-color: teal;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 2fr 2fr;
    align-items: center;
}
form div label {
    grid-row: 1;
    padding: 20px;
    width: 100%;
}

form input {
    height: 5vh;
    grid-row: 2;
    grid-column: 1;
    font-size: 18px;
    padding-left: 8px;
}

form button {
    height: 5vh;
    grid-row: 2;
    grid-column: 2;
    border-radius: 5px;
    font-size: 18px;
    background-color: darkred;
    color: white;
}

#results-section {
    font-size: 36px;
    padding: 20px 0;
}

#results {
    padding-top: 25px;
}

#error {
    color: darkred;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}








